
<div class="card stock">
  <div class="card-body">
    <label>Choose an API endpoint:</label>
    <select id="endpoint" name="">
      <option value="0"></option>
      <option value="1">/api/products/1</option>
      <option value="2">/api/products/2</option>
      <option value="a">/api/products/a</option>
      <option value="b">/api/products/b</option>
      <option value="3">/api/products/3</option>
      <option value="4">/api/products/4</option>
      <option value="c">/api/products/c</option>
      <option value="5">/api/products/5</option>
    </select>
    <h6 id="result"></h6>
  </div>
</div>




